@font-face {
  font-family: "Inria Sans";
  src: url("./assets/fonts/inria-sans/InriaSans-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}

html {
  font-size: 55.5%;
}

body {
  background: #1d2f78;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Inria Sans";
}

body .container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
body .container .header {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 35px;
}

body .container .header .title {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
}

body .container .header .title h3 {
  font-size: 1.6em;
  text-align: center;
  color: #5cf45c;
  font-weight: bold;
  letter-spacing: 2.2px;
}

body .container .header .title h3 span {
  font-size: 0.9em;
  font-weight: 300;
}

body .container .header .title .subtitle {
  font-size: 1em;
  font-weight: 300;
  margin-left: 20px;
}

body .container .header .title .subtitle span {
  font-size: 1.2em;
  letter-spacing: 3px;
  font-weight: bold;
}

body .container .header .contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body .container .header .contents h4 {
  font-size: 1.8em;
  letter-spacing: 2px;
  font-weight: 200;
  color: #ffff92;
}

body .container .header .contents h4 span {
  font-size: 0.9em;
  color: white;
  font-weight: bold;
}

body .container .table {
  width: 100%;
  height: 100%;
}

body .container .table table {
  width: 100%;
  height: 100%;
  text-align: center;
}

body .container .table table tr {
  width: 100%;
  position: relative;
}

body .container .table table tr th {
  margin-top: 30px;
  font-size: 1.3em;
  letter-spacing: 2px;
  max-width: 100px;

  position: relative;
}

body .container .table table tr td {
  font-size: 1.35em;
  padding-top: 10px;
  position: relative;
  letter-spacing: 1.5px;
  text-align: center;
}
body .container .table table tr td:nth-child(n + 4) {
  font-weight: bold;
}
body .container .table table tr th:nth-child(-n + 4)::after {
  position: absolute;
  content: "";
  height: 100vh;
  width: 1px;
  background-color: #5cf45c;
  left: 100%;
}

body .container .table table tr td::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 100vw;
  background-color: #5cf45c;
  top: 25%;
  left: 0;
}

body .context-menu {
  font-size: 2em;
  position: absolute;
  padding: 5px;
  display: none;
  z-index: 10000;
  background-color: rgba(104, 101, 115, 0.03);
  backdrop-filter: blur(20px);
  border-radius: 0 10px 10px 0px;
  border-left: 1px solid white;
}

body .context-menu .menu-options {
  padding: 2px;
  cursor: default;
}

body .context-menu:has(.menu-options:hover) .menu-options:not(:hover) {
  opacity: 0.3;
  filter: blur(1px);
}
